<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @message.from_user.email %>
</p>

<p>
  <b>To:</b>
  <%= @message.to_user.email %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
